{% extends 'layout.html'%}
{% block title %}
Inicio
{% endblock %}

{% block body %} 
<h1>Pagina de Inicio</h1>


<li><a href='/clima?ciudad=Buenos Aires'> Buenos Aires</a></li>
<li><a href='/clima?ciudad=Córdoba'> Córdoba</a></li>
<li><a href='/clima?ciudad=Madrid'> Madrid</a></li>
<li><a href='/clima?ciudad=Nueva York'> Nueva York</a></li>
<li><a href='/clima?ciudad=Tokio'> Tokio</a></li>
<li><a href='/clima?ciudad=París'> París</a></li>
<li><a href='/clima?ciudad=Londres'> Londres</a></li>
<li><a href='/clima?ciudad=Sídney'> Sídney</a></li>
<li><a href='/clima?ciudad=Ciudad de México'> Ciudad de México</a></li>
<li><a href='/clima?ciudad=El Cairo'> El Cairo</a></li>    




{% endblock %}